<!DOCTYPE html>
<html>
  <%- include("./partials/Head") %>
  <body>
    <div id="loginPageContainer" class="centered">
      <div class="logoSection centered">
        <%- include("./partials/AppLogo") %>
      </div>

      <div class="headerTitleSection centered">
        <%- include("./partials/Header", {title: 'BIENVENIDO'}) %>
      </div>

      <div class="loginPageInteractionSection">
        <%- include("./partials/LoginNavbar") %>

        <form id="formContainer" action="/login" method="post">
          <div class="formBox">
            <label for="celular">Celular</label>
            <input
              type="tel"
              id="userPhone"
              class="formInputText shadows"
              name="celular"
              pattern="[0-9]+"
              placeholder="Ingrese su número de celular"
              required
            />
            <% if (locals.errors && errors.badUser) { %>
              <li><span><%= errors.badUser.msg %></span></li>
            <% } %>
          </div>

          <div class="formBox">
            <label for="contrasena">Contraseña</label>
            <input
              type="password"
              id="userPassword"
              class="formInputText shadows"
              name="password"
              placeholder="Ingrese su contraseña"
              required
            />
            <% if (locals.errors && errors.badPass) { %>
              <li><span><%= errors.badPass.msg %></span></li>
            <% } %>
          </div>

          

          <div class="centered">
            <button class="standardButton shadows" type="submit">
              <a class="standardButtonText"> Iniciar Sesión</a>
            </button>
          </div>

          <% if (locals.errors && errors.badLogin) { %>
              <li><span><%= errors.badLogin.msg %></span></li>
          <% } %>
        </form>
      </div>
    </div>
  </body>
</html>
